@import "utilities.scss";

#header {
    background-color: $header-color;
    height: 10vh;
    width: 100%;
    top: 0;
    position: fixed;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid $border-color;

    #header-text {
        font-size: 3.6vh;
        text-decoration: none;
        color: $dark-back-text;
        display: none;
        margin-left: 3vw;
        margin-right: auto;
    }

    ul {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        a {
            font-size: 3.6vh;
            padding: 1vh;
            color: white;
            text-decoration: none;
            text-align: center;
        }
    }
}

@media only screen and (min-aspect-ratio: 700/760) {
    #header {
        #header-text {
            display: block;
        }

        ul {
            margin-right: 1vw;
            margin-left: 0;
        }
    }
}
