$header-color: #24252a;
$border-color: #f8f8f8;
$dark-back-text: #f8f8f8;
$dark-back-text-hover: #a7a7a7;
$light-background: #f8f8f8;
$light-background-text: #363535;
$header-dark: #4c607a;
$dark-background-header: #89abb6;
$dark-background-subheader: #9cacb1;
$button-color: $dark-background-header;
$header-font: "Noto Serif JP", serif;

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    width: 100%;
}

.to-top {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: rgb(136, 135, 136);
    border-radius: 60px;
    box-shadow: 2px 2px 3px rgb(99, 99, 99);
    transition: all 0.3s ease 0s;

    .to-top:hover {
        background-color: rgb(221, 221, 221);
    }
}

.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    top: 0;
    max-height: 7em;
    padding: 30px 10% 1em 10%;
    border-bottom: 1px solid $border-color;
    background-color: $header-color;
    font-family: $header-font;

    .header-text {
        cursor: pointer;
        margin-right: auto;
        transition: all 0.3s ease 0s;
        font-weight: bold;
        font-size: 2em;
    }

    .header-text:hover {
        color: $dark-back-text-hover;
    }

    .header-link {
        font-family: $header-font;
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        padding: 0px 8px;
        transition: all 0.3s ease 0s;
        color: $dark-back-text;
    }

    .header-link:hover {
        color: $dark-back-text-hover;
    }

    li,
    a,
    button {
        font-weight: 500;
        font-size: 16px;
        color: $dark-back-text;
        text-decoration: none;
    }

    button {
        font-family: $header-font;
        padding: 9px 25px;
        background-color: $button-color;
        border: none;
        border-radius: 50px;
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }

    button:hover {
        color: $dark-back-text-hover;
    }

    @media only screen and (max-width: 880px) {
        .header-text {
            display: none;
        }

        nav {
            margin-left: auto;

            @media only screen and (max-width: 400px) {
                #resume {
                    display: none;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        button {
            display: none;
        }

        nav {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.intro {
    padding-top: 7em;
    padding-bottom: 7em;
    width: 100%;
    border-bottom: 1px solid $border-color;
    background-color: $header-color;

    .profilepic {
        width: 35%;
    }

    .intro-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: center;

        .intro-text {
            display: flex;
            flex-direction: column;
            font-family: "Crimson Text", serif;
            color: $dark-back-text;
            text-align: center;
            width: 35%;

            .introduction {
                font-family: "Crimson Text", serif;
                font-weight: 800;
                font-size: 3.8vw;
                color: $dark-back-text;
                text-align: center;
            }

            @media only screen and (max-width: 880px) {
                .introduction {
                    font-size: 4.5vw;
                }
            }

            button {
                font-family: $header-font;
                padding: 9px 25px;
                background-color: $button-color;
                border: none;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                font-weight: 500;
                font-size: 16px;
                color: $dark-back-text;
                text-decoration: none;
            }

            button:hover {
                color: $dark-back-text-hover;
            }
        }
    }
}

@media only screen and (max-width: 880px) {
    .intro {
        padding-bottom: 2em;
    }
}

#background-skills-top {
    margin-top: -10vh;
    height: 10vh;
}

.background-skills {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    background-color: $light-background;
    border-top: 1px solid $border-color;
    padding-bottom: 6em;
    padding-top: 6em;

    .background,
    .skills {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: 33%;
    }

    @media only screen and (max-width: 880px) {
        .background,
        .skills {
            max-width: 80%;
        }

        .skills {
            margin-top: 2em;
        }
    }

    h4 {
        color: $header-dark;
        font-size: 1.8em;
    }

    h5,
    li {
        color: $light-background-text;
        font-size: 1.3em;
        font-weight: 100;
        font-size: 1.6em;
    }
}

@media only screen and (max-width: 880px) {
    .background-skills {
        flex-direction: column;
    }
}

.work-experience {
    background-color: $header-color;
    padding-top: 2em;
    padding-bottom: 6em;

    .work {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .info-group {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-top: 6em;

            h4 {
                font-size: 1.6em;
                color: $dark-back-text;
                margin-left: 10%;
                white-space: nowrap;
            }

            .jobs {
                display: flex;
                flex-direction: column;

                margin-right: 20%;
                margin-left: auto;
                max-width: 40%;

                .job {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    margin-top: 3em;
                    color: $dark-back-text;

                    h1 {
                        color: $dark-background-header;
                        font-size: 1.6em;
                    }

                    h2 {
                        color: $dark-background-subheader;
                        font-size: 1.4em;
                        font-weight: 100;
                    }

                    ul {
                        margin-top: 1em;
                    }

                    li {
                        font-weight: 100;
                        font-size: 1.3em;
                    }

                    h3 {
                        margin-top: 1em;
                        font-weight: 100;
                        font-size: 1.3em;
                    }
                }
            }

            @media only screen and (max-width: 870px) {
                .jobs {
                    max-width: 90%;
                    width: 90%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        @media only screen and (max-width: 870px) {
            .info-group {
                flex-direction: column;
            }
        }
    }
}

.projects-page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $header-color;

    .projects-inner {
        display: flex;
        flex-direction: column;
        padding-top: 8em;
        padding-bottom: 4em;
        margin-left: auto;
        margin-right: auto;
        background-color: $light-background;
        width: 700px;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;


        .projects-text {
            margin-left: auto;
            margin-right: auto;
            max-width: 500px;
            h1 {
                color: $light-background-text;
                font-size: 2.2em;
            }

            h2 {
                color: $light-background-text;
                font-size: 2em;
                font-weight: 600;
            }

            h3 {
                font-weight: 400;
            }

            p {
                color: $light-background-text;
            }

            .project-section {
                margin-top: 2em;
            }

            .project {
                margin-top: 1em;

                .project-title {
                    color: $light-background-text;
                    font-size: 1.2em;
                    font-weight: 600;
                    text-decoration: underline solid $dark-background-header;
                    text-decoration-thickness: 2px;
                }
            }
        }
    }
}
