* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

body {
  width: 100%;
}

.to-top {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #888788;
  border-radius: 60px;
  -webkit-box-shadow: 2px 2px 3px #636363;
          box-shadow: 2px 2px 3px #636363;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top .to-top:hover {
  background-color: #dddddd;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  top: 0;
  max-height: 7em;
  padding: 30px 10% 1em 10%;
  border-bottom: 1px solid #ffffff;
  background-color: #24252a;
  font-family: "Noto Serif JP", serif;
}

.header .header-text {
  cursor: pointer;
  margin-right: auto;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: bold;
  font-size: 2em;
}

.header .header-text:hover {
  color: #a7a7a7;
}

.header .header-link {
  font-family: "Noto Serif JP", serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 0px 8px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #edf0f1;
}

.header .header-link:hover {
  color: #a7a7a7;
}

.header li,
.header a,
.header button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.header button {
  font-family: "Noto Serif JP", serif;
  padding: 9px 25px;
  background-color: #89abb6;
  border: none;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.header button:hover {
  color: #a7a7a7;
}

@media only screen and (max-width: 880px) {
  .header .header-text {
    display: none;
  }
  .header nav {
    margin-left: auto;
  }
}

@media only screen and (max-width: 880px) and (max-width: 400px) {
  .header nav #resume {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .header button {
    display: none;
  }
  .header nav {
    margin-left: auto;
    margin-right: auto;
  }
}

.intro {
  padding-top: 7em;
  padding-bottom: 7em;
  width: 100%;
  border-bottom: 1px solid #ffffff;
  background-color: #24252a;
}

.intro .profilepic {
  width: 35%;
}

.intro .intro-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro .intro-header .intro-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Crimson Text", serif;
  font-weight: 800;
  font-size: 3.8vw;
  color: #edf0f1;
  text-align: center;
  width: 35%;
}

.intro .intro-header .intro-text .introduction {
  font-family: "Crimson Text", serif;
  font-weight: 800;
  font-size: 3.8vw;
  color: #edf0f1;
  text-align: center;
}

.intro .intro-header .intro-text button {
  font-family: "Noto Serif JP", serif;
  padding: 9px 25px;
  background-color: #89abb6;
  border: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.intro .intro-header .intro-text button:hover {
  color: #a7a7a7;
}

#background-skills-top {
  margin-top: -10vh;
  height: 10vh;
}

.background-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  background-color: #cacaca;
  border-top: 1px solid #ffffff;
  padding-bottom: 6em;
  padding-top: 6em;
}

.background-skills .background,
.background-skills .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 33%;
}

@media only screen and (max-width: 880px) {
  .background-skills .background,
  .background-skills .skills {
    max-width: 80%;
  }
  .background-skills .skills {
    margin-top: 2em;
  }
}

.background-skills h4 {
  color: #4c607a;
  font-size: 1.8em;
}

.background-skills h5,
.background-skills li {
  color: #363535;
  font-size: 1.3em;
  font-weight: 100;
  font-size: 1.6em;
}

@media only screen and (max-width: 880px) {
  .background-skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.work-experience {
  background-color: #24252a;
  padding-top: 2em;
  padding-bottom: 6em;
}

.work-experience .work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.work-experience .work .info-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 6em;
}

.work-experience .work .info-group h4 {
  font-size: 1.6em;
  color: #edf0f1;
  margin-left: 10%;
  white-space: nowrap;
}

.work-experience .work .info-group .jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20%;
  margin-left: auto;
  max-width: 40%;
}

.work-experience .work .info-group .jobs .job {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 3em;
  color: #edf0f1;
}

.work-experience .work .info-group .jobs .job h1 {
  color: #89abb6;
  font-size: 1.6em;
}

.work-experience .work .info-group .jobs .job h2 {
  color: #9cacb1;
  font-size: 1.4em;
  font-weight: 100;
}

.work-experience .work .info-group .jobs .job ul {
  margin-top: 1em;
}

.work-experience .work .info-group .jobs .job li {
  font-weight: 100;
  font-size: 1.3em;
}

.work-experience .work .info-group .jobs .job h3 {
  margin-top: 1em;
  font-weight: 100;
  font-size: 1.3em;
}

@media only screen and (max-width: 870px) {
  .work-experience .work .info-group .jobs {
    max-width: 90%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 870px) {
  .work-experience .work .info-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.projects-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24252a;
}

.projects-page .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 8em;
  margin-left: auto;
  margin-right: auto;
  background-color: #24252a;
}

.projects-page .projects h1 {
  color: #edf0f1;
}

.projects-page .projects h2 {
  color: #edf0f1;
  font-weight: 600;
}

.projects-page .projects p {
  color: #edf0f1;
}

.projects-page .projects .project-section {
  margin-top: 2em;
}

.projects-page .projects .project {
  margin-top: 1em;
}

.projects-page .projects .project .project-title {
  color: #edf0f1;
  font-size: 1.2em;
  font-weight: 600;
  -webkit-text-decoration: underline solid #89abb6;
          text-decoration: underline solid #89abb6;
  text-decoration-thickness: 2px;
}
/*# sourceMappingURL=main.css.map */