@import "utilities.scss";

$resume-button-color: #ddd;

html {
    background-color: $header-color;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "Roboto";
}
body {
    display: flex;
    flex-direction: column;
}

#resume-button {
    background-color: $resume-button-color;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 24px;

    font-size: 20px;
    font-weight: 400;
    color: $light-background-text;

    width: 150px;
    margin-top: 2vh;
}

#intro-header {
    padding-top: $header-height-plus-space;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $header-color;

    border-bottom: 1px solid $border-color;

    #intro-inner {
        display: flex;
        flex-direction: column;
        align-items: center;

        #intro-text {
            flex-direction: column;
            color: $dark-background-header;
            align-items: left;
            max-width: 85%;
            padding-bottom: 15px;

            #name-intro {
                font-size: 20px;
            }

            #full-name {
                font-size: 40px;
            }

            #position-intro {
                font-size: 27px;
                color: $dark-back-text;
            }

            #skills {
                font-size: 13px;
                color: $dark-back-text-hover;
                line-height: 18px;
            }
        }
    }
}

#info-boxes {
    margin-top: 5px;
    margin-inline: auto;

    .info-box-contents {
        margin-left: 10px;
    }

    h1 {
        font-weight: 900;
    }

    h3 {
        font-weight: 100;
    }

    ul {
        font-weight: 300;
        a:visited {
            color: inherit;
        }
    }

    #info-box-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .info-box {
        width: 85vw;
        height: 300px;
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: lightblue;
        box-shadow: 4px 4px 8px rgb(0, 0, 0);

        #profilepic {
            width: 100px;
            margin-left: 25px;
        }
    }

    #first-info-box {
        background: rgb(123, 190, 245);
        background: linear-gradient(112.5deg, rgba(123, 190, 245, 1) 0%, rgba(194, 227, 178, 1) 100%);
    }

    #second-info-box {
        background: rgb(176, 175, 250);
        background: linear-gradient(112.5deg, rgba(176, 175, 250, 1) 0%, rgba(245, 210, 219, 1) 100%);
    }

    #third-info-box {
        background: rgb(246, 144, 175);
        background: linear-gradient(112.5deg, rgba(246, 144, 175, 1) 0%, rgba(246, 223, 97, 1) 100%);
    }
}

.to-top {
    display: none;
    position: fixed;
    width: 4vw;
    height: 4vw;
    bottom: 1vw;
    right: 1vw;
    background-color: rgb(136, 135, 136);
    border-radius: 4vw;
    box-shadow: 2px 2px 3px rgb(99, 99, 99);
    transition: all 0.3s ease 0s;

    .to-top:hover {
        background-color: rgb(221, 221, 221);
    }
}

@media only screen and (min-width: #{$medium-width}) {
    #intro-inner {
        margin-left: -15vw;
    }
    #info-boxes {
        padding-left: 7.5vw;

        #info-box-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: space-between;
        }

        .info-box {
            width: 40vw;
            margin-right: 5vw;
        }
    }
}

@media only screen and (min-width: #{$large-width}) {
    #info-boxes {
        padding: 0;

        .info-box {
            width: 30vw;
            margin-inline: 1vw;
        }
    }
}
