html {
  background-color: #24252a;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Roboto";
}

body {
  width: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#intro-header {
  padding-top: 12vh;
  padding-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24252a;
  border-bottom: 1px solid #f8f8f8;
}

#intro-header #intro-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro-header #intro-inner #intro-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #89abb6;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  max-width: 85vw;
  margin-left: 3vw;
  padding-bottom: 3vh;
}

#intro-header #intro-inner #intro-text #name-intro {
  font-size: 3vh;
}

#intro-header #intro-inner #intro-text #full-name {
  font-size: 6vh;
}

#intro-header #intro-inner #intro-text #position-intro {
  font-size: 4vh;
  color: #f8f8f8;
}

#intro-header #intro-inner #intro-text #skills {
  font-size: 2vh;
  color: #a7a7a7;
  line-height: 2.8vh;
}

#intro-header #intro-inner #resume-button {
  background-color: #ddd;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 24px;
  font-size: 20px;
  font-weight: 400;
  color: #363535;
  width: 150px;
  margin-top: 2vh;
}

#info-boxes {
  margin-top: 40px;
  margin-inline: auto;
}

#info-boxes .info-box-contents {
  margin-left: 10px;
}

#info-boxes h1 {
  font-weight: 900;
}

#info-boxes h3 {
  font-weight: 100;
}

#info-boxes ul {
  font-weight: 300;
}

#info-boxes ul a:visited {
  color: inherit;
}

#info-boxes #info-box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#info-boxes .info-box {
  width: 85vw;
  height: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: lightblue;
  -webkit-box-shadow: 4px 4px 8px black;
          box-shadow: 4px 4px 8px black;
}

#info-boxes .info-box #profilepic {
  width: 100px;
  margin-left: 25px;
}

#info-boxes #first-info-box {
  background: #7bbef5;
  background: linear-gradient(112.5deg, #7bbef5 0%, #c2e3b2 100%);
}

#info-boxes #second-info-box {
  background: #b0affa;
  background: linear-gradient(112.5deg, #b0affa 0%, #f5d2db 100%);
}

#info-boxes #third-info-box {
  background: #f690af;
  background: linear-gradient(112.5deg, #f690af 0%, #f6df61 100%);
}

.to-top {
  display: none;
  position: fixed;
  width: 4vw;
  height: 4vw;
  bottom: 1vw;
  right: 1vw;
  background-color: #888788;
  border-radius: 4vw;
  -webkit-box-shadow: 2px 2px 3px #636363;
          box-shadow: 2px 2px 3px #636363;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top .to-top:hover {
  background-color: #dddddd;
}

#bottom-space {
  height: 3vh;
}

@media only screen and (min-width: 700px) {
  #info-boxes {
    padding-left: 7.5vw;
  }
  #info-boxes #info-box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  #info-boxes .info-box {
    width: 40vw;
    background-color: pink;
    margin-top: 25px;
    margin-right: 5vw;
  }
}

@media only screen and (min-width: 950px) {
  #info-boxes {
    padding: 0;
    margin: 0;
    margin-inline: auto;
  }
  #info-boxes #info-box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #info-boxes .info-box {
    width: 30vw;
    margin-inline: 1vw;
    background-color: pink;
    margin-top: 25px;
  }
}
/*# sourceMappingURL=main.css.map */