html {
  background-color: #24252a;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#intro-header {
  padding-top: 12vh;
  padding-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24252a;
  width: 100vw;
  border-bottom: 1px solid #f8f8f8;
}

#intro-header #intro-text {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3.5vh;
  text-align: center;
  padding-bottom: 1vh;
  color: #f8f8f8;
}

#intro-header #profilepic {
  width: 60vw;
}

#intro-header .button-holder {
  padding-top: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#intro-header .button-holder button {
  font-family: "Noto Serif JP", serif;
  font-size: 3.6vh;
  background-color: #89abb6;
  border: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  color: #f8f8f8;
  text-decoration: none;
  padding: 0.8vw;
}

#intro-header .button-holder button:hover {
  color: #a7a7a7;
}

#intro-header #desktop-button {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#background-skills {
  background-color: #f8f8f8;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#background-skills .info {
  margin-left: auto;
  margin-right: auto;
  font-size: 2.5vh;
}

#background-skills .info h4 {
  font-size: 3.2vh;
  text-align: center;
}

#background-skills .info p {
  width: 90vw;
  text-align: center;
}

#work-experience {
  background-color: #24252a;
  color: #f8f8f8;
}

#work-experience #work {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

#work-experience #work .info-group {
  border-bottom: 1px solid #f8f8f8;
}

#work-experience #work .info-group h4 {
  text-align: center;
  font-size: 3.2vh;
}

#work-experience #work .info-group #jobs .job h1 {
  font-size: 3.2vh;
  color: #89abb6;
  margin: 0;
}

#work-experience #work .info-group #jobs .job h2 {
  margin: 0;
  font-size: 2.8vh;
  color: #9cacb1;
}

#work-experience #work .info-group #jobs .job h3 {
  color: #f8f8f8;
  font-size: 2.5vh;
}

.to-top {
  display: none;
  position: fixed;
  width: 4vw;
  height: 4vw;
  bottom: 1vw;
  right: 1vw;
  background-color: #888788;
  border-radius: 4vw;
  -webkit-box-shadow: 2px 2px 3px #636363;
          box-shadow: 2px 2px 3px #636363;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.to-top .to-top:hover {
  background-color: #dddddd;
}

@media only screen and (min-aspect-ratio: 700 / 760) {
  #intro-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #intro-header #mobile-button {
    display: none;
  }
  #intro-header #desktop-button {
    display: block;
  }
  #intro-header #intro-text {
    height: 20vw;
    width: 25vw;
    border-right: 1px solid #f8f8f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 15vw;
    margin-left: auto;
  }
  #intro-header #profilepic {
    width: 30vw;
    margin-right: 10vw;
    margin-left: auto;
    padding-left: 5vw;
  }
  #background-skills {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #background-skills .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40vw;
    padding: 5vw;
  }
  #background-skills .info p {
    width: 50vw;
  }
  #work-experience #work {
    margin-left: auto;
    margin-right: auto;
  }
  .to-top {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */