@import 'utilities.scss';

* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    width: 100%;
}

.to-top {
    position: fixed;
    width: 4vw;
    height: 4vw;
    bottom: 1vw;
    right: 1vw;
    background-color: rgb(136, 135, 136);
    border-radius: 4vw;
    box-shadow: 2px 2px 3px rgb(99, 99, 99);
    transition: all 0.3s ease 0s;

    .to-top:hover {
        background-color: rgb(221, 221, 221);
    }
}

.intro {
    padding-top: 14vh;
    padding-bottom: 8vh;
    width: 100vw;
    border-bottom: 1px solid $border-color;
    background-color: $header-color;

    .profilepic {
        width: 35vw;
        height: 35vw;
    }

    .intro-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: space-between;
        justify-content: center;

        .intro-text {
            display: flex;
            flex-direction: column;
            font-family: "Crimson Text", serif;
            color: $dark-back-text;
            text-align: center;
            width: 35vw;

            p {
                font-family: "Crimson Text", serif;
                font-weight: 800;
                font-size: 3.6vw;
                color: $dark-back-text;
                text-align: center;
            }

            button {
                font-family: $header-font;
                padding: 1vw 2vw;
                background-color: $button-color;
                border: none;
                transition: all 0.3s ease 0s;
                cursor: pointer;
                font-weight: 500;
                font-size: 2.5vw;
                color: $dark-back-text;
                text-decoration: none;
            }

            button:hover {
                color: $dark-back-text-hover;
            }
        }
    }
}

#background-skills-top {
    margin-top: -10vh;
    height: 10vh;
}

.background-skills {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    background-color: $light-background;
    border-top: 1px solid $border-color;
    padding-bottom: 6em;
    padding-top: 6em;

    .background,
    .skills {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        max-width: 33vw;
    }

    h4 {
        color: $header-dark;
        font-size: 2.6vh;
    }

    h5,
    li {
        color: $light-background-text;
        font-weight: 100;
        font-size: 2.2vh;
    }
}

.work-experience {
    background-color: $header-color;
    padding-top: 1vh;
    padding-bottom: 5vh;

    .work {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        .info-group {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            margin-top: 5vh;

            h4 {
                font-size: 2.6vh;
                color: $dark-back-text;
                margin-left: 10%;
                white-space: nowrap;
            }

            .jobs {
                display: flex;
                flex-direction: column;

                margin-right: 20vw;
                margin-left: auto;
                max-width: 40%;

                .job {
                    display: flex;
                    flex-direction: column;
                    align-items: baseline;
                    margin-top: 1vh;
                    color: $dark-back-text;

                    h1 {
                        color: $dark-background-header;
                        font-size: 2.4vh;
                    }

                    h2 {
                        color: $dark-background-subheader;
                        font-size: 2.2vh;
                        font-weight: 100;
                    }

                    ul {
                        margin-top: 1em;
                    }

                    li {
                        font-weight: 100;
                        font-size: 2vh;
                    }

                    h3 {
                        margin-top: 1em;
                        font-weight: 100;
                        font-size: 2vh;
                    }
                }
            }
        }
    }
}
