@import "utilities.scss";

.projects-page {
    background-color: $header-color;

    .projects-inner {
        display: flex;
        flex-direction: column;
        padding-top: $header-height-plus-space;
        margin-inline: auto;
        background-color: $light-background;
        width: 90vw;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;

        .projects-text {
            margin-inline: auto;
            width: 80vw;
            h1 {
                color: $light-background-text;
                font-size: 34px;
                font-weight: 900;
            }

            h2 {
                color: $light-background-text;
                font-size: 35px;
                font-weight: 400;
            }

            h3 {
                font-size: 22px;
                font-weight: 300;
            }

            h4 {
                font-weight: 500;
                font-size: 24px;
                color: rgb(49, 49, 49);
            }

            p {
                color: $light-background-text;
            }

            .project-section {
                margin-top: 1vh;
            }

            .project {
                margin-top: 1vh;

                .project-title {
                    color: $light-background-text;
                    font-size: 26px;
                    font-weight: 600;
                    text-decoration: underline solid $dark-background-header;
                }
            }
        }
    }
}

@media only screen and (min-width: #{$medium-width}) {
    .projects-page {
        .projects-inner {
            width: 55vw;

            .projects-text {
                width: 50vw;
            }
        }
    }
}
