* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: Helvetica, sans-serif;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

Header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10% 5px 10%;
    justify-content: flex-end;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.Header-text {
    font-family: 'Noto Serif JP', serif;
    color: #edf0f1;
    cursor: pointer;
    margin-right: auto;
    transition: all 0.3s ease 0s;
}

.Header-link {
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    padding: 0px 8px;
    transition: all 0.3s ease 0s;
}

.Header a:hover {
    color: rgb(167, 167, 167);
}
button {
    font-family: 'Noto Serif JP', serif;
    padding: 9px 25px;
    background-color: rgba(0,136,139,1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}


.Header button:hover {
    color: rgb(167, 167, 167);
    background-color: rrgba(0,136,139,0);
}

.profilepic {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45vh;
}

.index-text {
    font-family: 'Crimson Text', serif;
    /* margin-top: 1vh; */
    font-weight: 800;
    font-size: 32px;
    color: #edf0f1;
    margin-left: 15%;
    margin-top: 75px;
    color: #edf0f1;
    text-align: center;
    width: 70%;

}

#projects h1.title {
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
    text-align: left;
    margin-left: 10%
    /* position: absolute; */
}

#contact h1.title {
    font-family: 'Noto Serif JP', serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
    text-align: left;
    margin-left: 10%
    /* position: absolute; */
}


#intro {
    padding-top: 40px;
    height: 100vh;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

#projects {
    height: 100vh;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

#contact {
    height: 100vh;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid rgb(255, 255, 255);
}

.to-top {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgb(136, 135, 136);
	color:#FFF;
	border-radius:60px;
	text-align:center;
    font-size: 23px;
    line-height: 20px;
	box-shadow: 2px 2px 3px rgb(99, 99, 99);
}
