// Background colors
$header-color: #24252a;
$light-background: #f8f8f8;
$header-dark: #4c607a;
$dark-background-header: #89abb6;
$dark-background-subheader: #9cacb1;
$button-color: $dark-background-header;

// Text colors
$dark-back-text: #f8f8f8;
$light-background-text: #363535;
$dark-back-text-hover: #a7a7a7;
$name-intro-text: #CCD6F6;
$position-intro-text: #81879b;

// Other
$border-color: #f8f8f8;

// Fonts
$header-font: "Noto Serif JP", serif;

// Sizes
$header-height: 65px;
$medium-width: 700px;
$large-width: 950px;
$header-height-plus-space: calc(#{$header-height} + 10px)