$page-background: #f4f1e9;
$surface-background: #ebe7de;
$text-primary: #292f2b;
$text-secondary: #62685f;
$accent: #aa5238;
$border: #d7d1c5;
$header-height: var(--header-height);
$header-height-plus-space: calc(#{$header-height} + 24px);
