$header-color: #24252a;
$border-color: #f8f8f8;
$dark-back-text: #f8f8f8;
$dark-back-text-hover: #a7a7a7;
$light-background: #f8f8f8;
$light-background-text: #363535;
$header-dark: #4c607a;
$dark-background-header: #89abb6;
$dark-background-subheader: #9cacb1;
$button-color: $dark-background-header;
$header-font: "Noto Serif JP", serif;