/* Add a black background color to the top navigation */
    .topnav {
    background-color: rgb(51, 59, 73);
    overflow: hidden;
    }
  /* Style the links inside the navigation bar */
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 30px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    vertical-align:top;
    position: relative;
    left: 7%;
    margin: -12px 0px 0.5% 0px;   
}
    .logo {
        position: fixed;
        margin: 0.8% 1% 1% 2%;
        left: 0;
        display:inline;
    }

  
  /* Change the color of links on hover */
    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #9ae6f0;
    color: black;
  }